{{ partial "header" . }}

<div class="content">
    <div class="wrapper">
        <h1>Jakub Janousek:</h1>
        <h2>hudba</h2>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/560592663&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        <p class="hudba-p">
            Jakub Janoušek - Gypsy Swing<br />
            Jakub Janoušek - Justtrack<br />
            Jakub Janoušek - Shepherd Beat<br />
            Jakub Janoušek - Blues Vamp<br />
            Jednofazové kvasenie - Poobede pôjdem (el. gitara)
        </p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34894376&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        <p class="hudba-p">
            Jakub Janoušek - Zorn<br />
            Jednofázové kvasenie - Blues o úplne nepodarenom dni (el. gitara)<br />
            Jakub Janoušek - Melancholy<br />
            Jakub Janoušek - Zorn<br />
            Jakub Janoušek - Future Just The Way You Remember It<br />
            Roman Žiaran - Izrafel (el. gitara)<br />
            Jednofazové kvasenie - Hviezdy (el. gitara)
        </p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34886142&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        <p class="hudba-p">
            Jednofazové kvasenie - Fronta na mäso (el. gitara)
        </p>
    </div>
</div>

{{ partial "footer" . }}
